/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Fondo degradado y color de texto por defecto */
body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #0A0D1A, #063970);
  color: #fff;
}

/* #root con flex para centrar su contenido */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
